.intro {
    margin-top: 92px;
    margin-bottom: 0;
    margin-left: 148px;
    max-width: 830px;
    display: flex;
    flex-direction: column;
}

.intro__title{
    margin: 0;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    max-width: 830px;
    width: 100%;
}

.intro__quote{
    margin-top: 40px;
    margin-bottom: 0;
    max-width: 738px;
    width: 100%;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.42;
}

.intro__author{
    margin-top: 10px;
    margin-bottom: 0;
    max-width: 732px;
    width: 100%;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.42;
    text-align: right;
}

.intro__text{
    margin-top: 32px;
    margin-bottom: 0;
    max-width: 722px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
}

@media screen and (max-width: 1024px) {
    .intro{
        max-width: 720px;
        margin-top: 90px;
        margin-left: 24px;
    }
    .intro__title{
        font-size: 45px;
        line-height: 1.10;
        max-width: 707px;
    }
   .intro__quote{
        margin-top: 50px;
        max-width: 720px;
    }

    .intro__author{
        max-width: 720px;
    }

    .intro__text{
        max-width: 720px;
    }
}
@media screen and (max-width: 544px) {
    .intro{
        max-width: 288px;
        margin-top: 64px;
        margin-left: 16px;
    }
    .intro__title{
        font-size: 32px;
        line-height: 1.09;
        max-width: 288px;
    }
   .intro__quote{
        line-height: 1.25;
        margin-top: 40px;
        max-width: 288px;
    }

    .intro__author{
        max-width: 288px;
    }

    .intro__text{
        max-width: 288px;
    }
}